<div class="flex h-screen">
    <!-- Sidebar for filters -->
    <app-map-filters class="w-1/4 bg-gray-100"></app-map-filters> 
    <!-- Map -->
    <div class="w-3/4 bg-gray-200">
        <div id="map" style="height: 100vh; width: 100%;"></div>
        <button 
            (click)="refreshMap()"
            style="display:none"
            class="absolute top-2 right-2 bg-red-500 hover:bg-red-600 text-white shadow-md rounded-full w-10 h-10 flex items-center justify-center z-[500]"
            >
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>