$legendary: rgb(200, 115, 30);
$legendary-gradiant: linear-gradient(
  135deg,
  rgba(200, 115, 30, 0.8) 0%,
  rgba(255, 165, 80, 0.8) 100%
);

$epic: rgb(118, 55, 207);
$epic-gradiant: linear-gradient(
  135deg,
  rgba(118, 55, 207, 0.8) 0%,
  rgba(172, 110, 255, 0.8) 100%
);

$heroic: rgb(255, 212, 0); // Teinte dorée plus jaune
$heroic-gradiant: linear-gradient(
  135deg,
  rgba(220, 170, 50, 0.9) 0%, // Point de départ avec une teinte dorée plus jaune
  rgba(250, 210, 70, 0.9) 100% // Point final très lumineux et doré-jaune
);

$rare: rgb(73, 142, 191);
$rare-gradiant: linear-gradient(
  135deg,
  rgba(100, 175, 200, 0.8) 0%,
  rgba(150, 225, 255, 0.8) 100%
);

$uncommon: rgb(54, 145, 27);
$uncommon-gradiant: linear-gradient(
  135deg,
  rgba(54, 145, 27, 0.8) 0%,
  rgba(100, 200, 75, 0.8) 100%
);

$common: rgb(150, 150, 150);
$common-gradiant: linear-gradient(
  135deg,
  rgba(150, 150, 150, 0.8) 0%,
  rgba(200, 200, 200, 0.8) 100%
);
