.tree-custom-icon {
    width: 18px;
    height: 18px;
    background-size: contain;
}

.my-icon-wood { background-image: url('/assets/icons/ressources/wood.webp');}
.my-icon-stone { background-image: url('/assets/icons/ressources/stone.webp');}
.my-icon-metal { background-image: url('/assets/icons/ressources/metal.webp');}
.my-icon-plant {background-image: url('/assets/icons/ressources/plant.webp');}
.my-icon-gem {background-image: url('/assets/icons/ressources/gem.webp');}

.my-icon-ash { background-image: url('/assets/icons/ressources/ash.webp'); }
.my-icon-braidwood { background-image: url('/assets/icons/ressources/braidwood.webp'); }
.my-icon-eastern-hemlock { background-image: url('/assets/icons/ressources/eastern_hemlock.webp'); }
.my-icon-oak { background-image: url('/assets/icons/ressources/oak.webp'); }
.my-icon-western-larch { background-image: url('/assets/icons/ressources/western_larch.webp'); }
.my-icon-weeping-willow { background-image: url('/assets/icons/ressources/weeping_willow.webp'); }

.my-icon-basalt { background-image: url('/assets/icons/ressources/basalt.webp'); }
.my-icon-gloomy-pross-petals { background-image: url('/assets/icons/ressources/gloomy_pross_petals.webp'); }
.my-icon-gneiss { background-image: url('/assets/icons/ressources/gneiss.webp'); }
.my-icon-granite { background-image: url('/assets/icons/ressources/granite.webp'); }
.my-icon-wyrdstone { background-image: url('/assets/icons/ressources/wyrdstone.webp'); }
.my-icon-slate { background-image: url('/assets/icons/ressources/slate.webp'); }
.my-icon-limestone { background-image: url('/assets/icons/ressources/limestone.webp'); }
.my-icon-quartz { background-image: url('/assets/icons/ressources/quartz.webp'); }

.my-icon-blood-boiled-spiritbloom { background-image: url('/assets/icons/ressources/blood_boiled_spiritbloom.webp'); }
.my-icon-daffodil { background-image: url('/assets/icons/ressources/daffodil.webp'); }
.my-icon-flax { background-image: url('/assets/icons/ressources/flax.webp'); }
.my-icon-giant-bluebell { background-image: url('/assets/icons/ressources/giant_bluebell.webp'); }
.my-icon-grave-lily { background-image: url('/assets/icons/ressources/grave_lily.webp'); }
.my-icon-moonbell { background-image: url('/assets/icons/ressources/moonbell.webp'); }
.my-icon-spiritbloom { background-image: url('/assets/icons/ressources/spiritbloom.webp'); }
.my-icon-snowdrop { background-image: url('/assets/icons/ressources/snowdrop.webp'); }

.my-icon-copper { background-image: url('/assets/icons/ressources/copper.webp'); }
.my-icon-gold { background-image: url('/assets/icons/ressources/gold.webp'); }
.my-icon-iron { background-image: url('/assets/icons/ressources/iron.webp'); }
.my-icon-rividium { background-image: url('/assets/icons/ressources/rividium.webp'); }
.my-icon-silver { background-image: url('/assets/icons/ressources/silver.webp'); }
.my-icon-stellarium { background-image: url('/assets/icons/ressources/stellarium.webp'); }
.my-icon-tin { background-image: url('/assets/icons/ressources/tin.webp'); }
.my-icon-zinc { background-image: url('/assets/icons/ressources/zinc.webp'); }

.my-icon-diamond { background-image: url('/assets/icons/ressources/diamond.webp'); }
.my-icon-emerald { background-image: url('/assets/icons/ressources/emerald.webp'); }
.my-icon-halcyonite { background-image: url('/assets/icons/ressources/halcyonite.webp'); }
.my-icon-lumadon { background-image: url('/assets/icons/ressources/lumadon.webp'); }
.my-icon-night-opal { background-image: url('/assets/icons/ressources/night_opal.webp'); }
.my-icon-opal { background-image: url('/assets/icons/ressources/opal.webp'); }
.my-icon-ruby { background-image: url('/assets/icons/ressources/ruby.webp'); }
.my-icon-sapphire { background-image: url('/assets/icons/ressources/sapphire.webp'); }
