.tree-custom-icon {
    width: 18px;
    height: 18px;
    background-size: contain;
}

// Categories
.my-icon-wood { background-image: url('/assets/icons/ressources/wood.webp');}
.my-icon-stone { background-image: url('/assets/icons/ressources/stone.webp');}
.my-icon-metal { background-image: url('/assets/icons/ressources/metal.webp');}
.my-icon-plant {background-image: url('/assets/icons/ressources/plant.webp');}
.my-icon-gem {background-image: url('/assets/icons/ressources/gem.webp');}
.my-icon-hunting {background-image: url('/assets/icons/ressources/hunting.webp');}

// Wood
.my-icon-acacia { background-image: url('/assets/icons/ressources/acacia.webp'); }
.my-icon-ash { background-image: url('/assets/icons/ressources/ash.webp'); }
.my-icon-braidwood { background-image: url('/assets/icons/ressources/braidwood.webp'); }
.my-icon-date-palm { background-image: url('/assets/icons/ressources/date_palm.webp'); }
.my-icon-eastern-hemlock { background-image: url('/assets/icons/ressources/eastern_hemlock.webp'); }
.my-icon-oak { background-image: url('/assets/icons/ressources/oak.webp'); }
.my-icon-western-larch { background-image: url('/assets/icons/ressources/western_larch.webp'); }
.my-icon-weeping-willow { background-image: url('/assets/icons/ressources/weeping_willow.webp'); }

// Stone
.my-icon-basalt { background-image: url('/assets/icons/ressources/basalt.webp'); }
.my-icon-gloomy-pross-petals { background-image: url('/assets/icons/ressources/gloomy_pross_petals.webp'); }
.my-icon-gneiss { background-image: url('/assets/icons/ressources/gneiss.webp'); }
.my-icon-granite { background-image: url('/assets/icons/ressources/granite.webp'); }
.my-icon-wyrdstone { background-image: url('/assets/icons/ressources/wyrdstone.webp'); }
.my-icon-slate { background-image: url('/assets/icons/ressources/slate.webp'); }
.my-icon-limestone { background-image: url('/assets/icons/ressources/limestone.webp'); }
.my-icon-obsidian { background-image: url('/assets/icons/ressources/obsidian.webp'); }
.my-icon-quartz { background-image: url('/assets/icons/ressources/quartz.webp'); }
.my-icon-sandstone { background-image: url('/assets/icons/ressources/sandstone.webp'); }

// Plant
.my-icon-agave { background-image: url('/assets/icons/ressources/agave.webp'); }
.my-icon-blood-boiled-spiritbloom { background-image: url('/assets/icons/ressources/blood_boiled_spiritbloom.webp'); }
.my-icon-daffodil { background-image: url('/assets/icons/ressources/daffodil.webp'); }
.my-icon-flax { background-image: url('/assets/icons/ressources/flax.webp'); }
.my-icon-giant-bluebell { background-image: url('/assets/icons/ressources/giant_bluebell.webp'); }
.my-icon-grave-lily { background-image: url('/assets/icons/ressources/grave_lily.webp'); }
.my-icon-moonbell { background-image: url('/assets/icons/ressources/moonbell.webp'); }
.my-icon-paintbrush { background-image: url('/assets/icons/ressources/paintbrush.webp'); }
.my-icon-poppy { background-image: url('/assets/icons/ressources/poppy.webp'); }
.my-icon-saguaro-cactus { background-image: url('/assets/icons/ressources/saguaro_cactus.webp'); }
.my-icon-spiritbloom { background-image: url('/assets/icons/ressources/spiritbloom.webp'); }
.my-icon-snowdrop { background-image: url('/assets/icons/ressources/snowdrop.webp'); }
.my-icon-spindlevine { background-image: url('/assets/icons/ressources/spindlevine.webp'); }

// Metal
.my-icon-copper { background-image: url('/assets/icons/ressources/copper.webp'); }
.my-icon-gold { background-image: url('/assets/icons/ressources/gold.webp'); }
.my-icon-iron { background-image: url('/assets/icons/ressources/iron.webp'); }
.my-icon-rividium { background-image: url('/assets/icons/ressources/rividium.webp'); }
.my-icon-silver { background-image: url('/assets/icons/ressources/silver.webp'); }
.my-icon-stellarium { background-image: url('/assets/icons/ressources/stellarium.webp'); }
.my-icon-tin { background-image: url('/assets/icons/ressources/tin.webp'); }
.my-icon-zinc { background-image: url('/assets/icons/ressources/zinc.webp'); }

// Gem
.my-icon-diamond { background-image: url('/assets/icons/ressources/diamond.webp'); }
.my-icon-emerald { background-image: url('/assets/icons/ressources/emerald.webp'); }
.my-icon-halcyonite { background-image: url('/assets/icons/ressources/halcyonite.webp'); }
.my-icon-lumadon { background-image: url('/assets/icons/ressources/lumadon.webp'); }
.my-icon-night-opal { background-image: url('/assets/icons/ressources/night_opal.webp'); }
.my-icon-opal { background-image: url('/assets/icons/ressources/opal.webp'); }
.my-icon-ruby { background-image: url('/assets/icons/ressources/ruby.webp'); }
.my-icon-sapphire { background-image: url('/assets/icons/ressources/sapphire.webp'); }

// Hunting
.my-icon-armored-bear { background-image: url('/assets/icons/ressources/armored_bear.webp'); }
.my-icon-armored-raptor { background-image: url('/assets/icons/ressources/armored_raptor.webp'); }
.my-icon-bear { background-image: url('/assets/icons/ressources/bear.webp'); }
.my-icon-bork { background-image: url('/assets/icons/ressources/bork.webp'); }
.my-icon-bonestrider { background-image: url('/assets/icons/ressources/bonestrider.webp'); }
.my-icon-daystrider { background-image: url('/assets/icons/ressources/daystrider.webp'); }
.my-icon-dawnbreaker { background-image: url('/assets/icons/ressources/dawnbreaker.webp'); }
.my-icon-deer { background-image: url('/assets/icons/ressources/deer.webp'); }      
.my-icon-drake-of-the-canopy { background-image: url('/assets/icons/ressources/drake_of_the_canopy.webp'); }
.my-icon-dynasty-beetle { background-image: url('/assets/icons/ressources/dynasty_beetle.webp'); }
.my-icon-ebon-omen { background-image: url('/assets/icons/ressources/ebon_omen.webp'); }
.my-icon-flailrunner { background-image: url('/assets/icons/ressources/flailrunner.webp'); }
.my-icon-glimmering-geode { background-image: url('/assets/icons/ressources/glimmering_geode.webp'); }
.my-icon-hippo { background-image: url('/assets/icons/ressources/hippo.webp'); }
.my-icon-horse { background-image: url('/assets/icons/ressources/horse.webp'); }
.my-icon-midnight-mare { background-image: url('/assets/icons/ressources/midnight_mare.webp'); }
.my-icon-obsidian-stallion { background-image: url('/assets/icons/ressources/obsidian_stallion.webp'); }
.my-icon-pallas-cat { background-image: url('/assets/icons/ressources/pallas_cat.webp'); }
.my-icon-plumed-haleberder { background-image: url('/assets/icons/ressources/plumed_haleberder.webp'); }
.my-icon-protectors-pride { background-image: url('/assets/icons/ressources/protectors_pride.webp'); }
.my-icon-raptor { background-image: url('/assets/icons/ressources/raptor.webp'); }
.my-icon-riverdancer-otter { background-image: url('/assets/icons/ressources/riverdancer_otter.webp'); }
.my-icon-riverlands-kirin { background-image: url('/assets/icons/ressources/riverlands_kirin.webp'); }
.my-icon-runic-steed { background-image: url('/assets/icons/ressources/runic_steed.webp'); }
.my-icon-sandsquall-croc { background-image: url('/assets/icons/ressources/sandsquall_croc.webp'); }
.my-icon-shatterclaw { background-image: url('/assets/icons/ressources/shatterclaw.webp'); }
.my-icon-shell-of-the-ancients { background-image: url('/assets/icons/ressources/shell_of_the_ancients.webp'); }
.my-icon-skinwalker { background-image: url('/assets/icons/ressources/skinwalker.webp'); }
.my-icon-terror-bird { background-image: url('/assets/icons/ressources/terror_bird.webp'); }
.my-icon-tidesnapper { background-image: url('/assets/icons/ressources/tidesnapper.webp'); }
.my-icon-wolf { background-image: url('/assets/icons/ressources/wolf.webp'); }
.my-icon-wyrmling { background-image: url('/assets/icons/ressources/wyrmling.webp'); }
