@use './colors';

.leaflet-popup {
    .leaflet-popup-content-wrapper {    
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px); 
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
        color: white; 
        font-size: 14px;    
    }
    
    .leaflet-popup-tip-container {
      display: none;
    }
    
    .leaflet-popup-close-button span {
        color: white;
    }
}



.mat-mdc-select-panel mat-option.bg-option- {
    &legendary {
        background: colors.$legendary-gradiant;
    }
    &epic {
        background: colors.$epic-gradiant;
    }
    &heroic {
        background: colors.$heroic-gradiant;
    }
    &rare {
        background: colors.$rare-gradiant;
    }
    &uncommon {
        background: colors.$uncommon-gradiant;
    }
    &common {
        background: colors.$common-gradiant;
    }
}

.bg-legendary {
    .leaflet-popup-content-wrapper {
        background: colors.$legendary-gradiant;
    }
    .leaflet-popup-tip {
        background-color: colors.$legendary;
    }
}

.bg-epic {
    .leaflet-popup-content-wrapper {
        background: colors.$epic-gradiant;
    }
    .leaflet-popup-tip {
        background-color: colors.$epic;
    }
}

.bg-heroic {
    .leaflet-popup-content-wrapper {
        background: colors.$heroic-gradiant;
    }
    .leaflet-popup-tip {
        background-color: colors.$heroic;
    }
}

.bg-rare {
    .leaflet-popup-content-wrapper {
        background: colors.$rare-gradiant;
    }
    .leaflet-popup-tip {
        background-color: colors.$rare;
    }
}

.bg-uncommon {
    .leaflet-popup-content-wrapper {
        background: colors.$uncommon-gradiant;
    }
    .leaflet-popup-tip {
        background-color: colors.$uncommon;
    }
}

.bg-common {
    .leaflet-popup-content-wrapper {
        background: colors.$common-gradiant;
    }
    .leaflet-popup-tip {
        background-color: colors.$common;
    }
}

// Marker styles 
.leaflet-marker-icon {
  &.custom-marker {
    top: 22px;
    left: 2px;
  }    
}

// Zoom In / Zoom out need to be under sidepanel level
.leaflet-top.leaflet-right {
  z-index: 999;
}

.marker-container {
  .marker-image {
    z-index: 1000;
    position:absolute;
  }
  .custom-badge {    
    z-index: 500;
    position:absolute;
    top: 0;
    border: 2px solid white;
    border-radius: 50%; // Forme ronde 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); // Ombre douce 
    width: 60px;
    height: 60px;
  }
  .custom-badge-position {
    z-index: 600;
    position:absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    top: -15px;
    left: 19px;
  }
}  

.custom-marker::after {
  z-index: 100; /* Toujours inférieur */
  content: '';
  position: absolute;
  top: -3px;
  right: 1px;
  width: 66px;
  height: 66px; 
  border-radius: 50%; 
  background: conic-gradient(
    red 0deg,
    red calc(var(--progress, 0) * 360deg),
    transparent calc(var(--progress, 0) * 360deg)
  );    
}

.custom-marker.badge-timer-ended::after {    
  animation: blink 1s infinite;
}

/* Couleurs dynamiques pour la pastille */
.badge-legendary {
  background-color: colors.$legendary;
}

.badge-epic {
  background-color: colors.$epic;
}

.badge-heroic {
  background-color: colors.$heroic;
}

.badge-rare {
  background-color: colors.$rare;
}

.badge-uncommon {
  background-color: colors.$uncommon;
}

.badge-common {
  background-color: colors.$common;
}

@keyframes blink {
  0%, 100% {
    opacity: 1; /* Complètement visible */
  }
  50% {
    opacity: 0; /* Complètement invisible */
  }
}