.show-hide-filters {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 500;
}

.filters-container {    
    width: 400px;
    position: absolute;
    z-index: 1000;    
    top:0;
    bottom:0;
    left:0;
    background-color: aliceblue;
}

@media (max-width: 768px) { /* Pour les écrans de taille tablette et mobile */
    .filters-container {
        width: 100vw; /* Prend toute la largeur de l'écran */
        height: 100vh; /* Optionnel si tu veux aussi que la hauteur prenne tout l'écran */
    }
}